{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid header-container">
<button onclick="topFunction()" id="backToTopBtn" title="Back to top">Top</button>
  <div class="row">
    <div class="col">
      <h2>Community Page</h2>
      <h4>Read our readers reviews to help you pick what to read.</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% if reviews %} 

      {% for review in reviews %}
      
<div class="card mb-3 w-50">
  <div class="row no-gutters">
    <div class="col">
    {% if review.book.image.url %}
        <a href="{% url 'book_detail' review.book.id %}">
        <img
          src="{{ review.book.image.url }}"
          class="card-img book-image-card"
          alt="{{ review.book.name }}"
        />
        <a>
        {% else %}
                <a href="{% url 'book_detail' review.book.id %}">
                        <img
          src="{{ MEDIA_URL }}jaredd-craig-unsplash.jpg"
          class="card-img"
          alt="{{ review.book.title }}"
        /><a>
        {% endif %}
    </div>
    <div class="col">
      <div class="card-body">
        <h5 class="card-title"><strong>"{{review.title}}"</strong></h5>
        <h5 class="card-title">Rating: {{review.rating}}/5</h5>
        <p class="card-text">{{review.book.title}}</p>
        <p class="card-text">{{ review.review_text }}</p>
        <p class="card-text"><small class="text-muted">{{ review.date }}</small></p>
        <p class="card-text"><small class="text-muted">{{ review.user_profile }}</small></p>
        <a href="{% url 'book_detail' review.book.id %}" class="btn btn-primary">Book Details</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}      
      {% else %}
      <p>No reviews currently available.</p>
      <a href="{% url 'books' %}" class="btn btn-primary btn-book-card"
        >Browse Books</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block postloadjs %} 

{% endblock %}