{% extends "base.html" %} {% load static %} 


{% block content %}
<div class="container header-container">
  <div class="row">
    <div class="col">
      <h4>
        Shopping Bag
      </h4>
    </div>
  </div>

  
  <div class="row">
    <div class="col">
      {% if bag_items %}
                    <div class="table-responsive">
                    {{ bag_items }}
                    </div>
                {% else %}
                    <p>Your bag is empty.</p>
                    <a href="{% url 'books' %}" class="btn btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                {% endif %}
    </div>
  </div>
</div>

{% endblock %}
