{% extends "base.html" %} {% load static %} {% load bag_tools %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}" />
{% endblock %} {% block content %}
<div class="container header-container">
  <button onclick="topFunction()" id="backToTopBtn" title="Back to top">
    Top
  </button>

  <div class="row align-center mb-5">
    <div class="col">
      <h4>
        Shopping Bag
      </h4>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      {% if bag_items %}

      <!-- Grid view for small to medium screens -->
      <div class="d-block d-md-none">
        <div class="row">
          <div class="col mb-1">
            <h6>
              <strong
                >Bag Total ({{product_count}} items): €{{ price_total|floatformat:2 }}</strong
              >
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1">
            {% include "bag/bag_action_buttons.html" %}
          </div>
        </div>
        <div class="row">
          <div class="col align-center mb-2 margin-top-3">
            <h4>
              <strong>Your Bag Items</strong>
            </h4>
          </div>
        </div>
        {% for item in bag_items %}
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 mb-2">
            {% include "bag/product_image.html" %}
          </div>
          <div class="col-12 col-sm-6 my-2">
            {% include "bag/product_details.html" %} {% if item.book != None %}

            <p>€{{ item.book.price }}</p>
            {% else %}
            <p>€{{ item.plan.price }}</p>
            {% endif %} {% include "bag/quantity_update.html" %} {% if item.book != None %}
            <p>€{{ item.book.price | calc_subtotal:item.quantity }}</p>
            {% else %}
            <p>€{{ item.plan.price }}</p>
            {% endif %} {% include "bag/remove_button.html" %}
          </div>
        </div>
     <hr>        
        {% endfor %}
      </div>

      <!-- Table for medium screens and above -->
      <div class="table-responsive-sm d-none d-md-block">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Book/Plan</th>
              <th scope="col"></th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Subtotal</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>

          <tbody>
            {% for item in bag_items %}

            <tr>
              <th scope="row">
                {% include "bag/product_image.html" %}
              </th>
              <td class="w-25">
                {% include "bag/product_details.html" %}
              </td>

              <!-- Book Price -->

              <td class="w-25">
                {% if item.book != None %}
                <p>€{{ item.book.price }}</p>
                {% else %}
                <p>€{{ item.plan.price }}</p>
                {% endif %}
              </td>

              <!-- Update Quantity inside the bag form -->
              <td class="w-25">
                {% include "bag/quantity_update.html" %}
              </td>

              <!-- Subtotals -->

              <td class="w-25">
                {% if item.book != None %}
                <p>€{{ item.book.price | calc_subtotal:item.quantity }}</p>
                {% else %}
                <p>€{{ item.plan.price }}</p>
                {% endif %}
              </td>

              <!-- Remove buttons -->

              <td class="w-25">
                {% include "bag/remove_button.html" %}
              </td>
            </tr>
            {% endfor %}

            <tr>
              <td colspan="5" class="pt-5 text-right">
                <h6>
                  <strong>Bag Total: €{{ price_total|floatformat:2 }}</strong>
                </h6>
              </td>
            </tr>
            <tr>
              <td colspan="5" class="text-right">
                {% include "bag/bag_action_buttons.html" %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      {% else %}
<div class="row align-center"><div class="col">
<p>Your bag is empty.</p>
      <a href="{% url 'books' %}" class="btn btn-light">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
      </a>
</div></div>      
      {% endif %}
    </div>
  </div>
</div>

{% endblock %} 

{% block postloadjs %} {{ block.super }} {% include 'products/includes/quantity_input_script.html' %}
<script>
  /* As this code relies on the csrf token, it stops working when exported into a separate file */
  // Update quantity on click
  $(".update-link").click(function (e) {
    var form = $(this).prev(".update-form");
    form.submit();
  });
  // Remove item and reload on click - books
  $(".remove-item-book").click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr("id").split("remove_")[1];
    var url = `/bag/remove/${itemId}/`;
    var data = { csrfmiddlewaretoken: csrfToken };
    $.post(url, data).done(function () {
      location.reload();
    });
  });
  // Remove item and reload on click - plans
  $(".remove-item-plan").click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr("id").split("remove_plan_")[1];
    var url = `/bag/remove_plan/${itemId}/`;
    var data = { csrfmiddlewaretoken: csrfToken };
    $.post(url, data).done(function () {
      location.reload();
    });
  });
</script>

{% endblock %}
