{% extends "base.html" %} {% load static %} 


{% block content %}
<div class="container-fluid home-header-container">
  <div class="row home-header-row">
  <div class="card home-page-plans-card">
      <div class="card-body">
        <h5 class="card-title">Custom Reading Plan</h5>
        <p class="card-text">Tell us what you enjoy reading and we'll build a plan for you.</p>
        <a href="{% url 'custom_plans' %}" class="btn">Build Your Plan</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
