.reviews-card {
    padding: 1rem;
    margin-bottom: 1rem;
    border-color: #1D3557;
    border-width: medium;
    height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-title-reviews {
    text-align: center;
} 

.delete-review-btn{
    background-color: #E42535;
    float: right;
}


/* From Code Institute Styling*/
.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}