html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Open Sans', sans-serif;}

.home-header-container {
    background: url('/media/stanislav-kondratiev-6pO3QFkk7hQ-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-top: 128px;
    height: 100vh;
}

.shop-books-button {
    margin-top: 10rem;
    float: right;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.navigation-bar {
    padding: 0;
}

.header-container {
        margin-top: 128px;
    }

.books-container {    
    margin-top: 164px;
}

.image-container-detail-page {
    text-align: center;
}
/*  Book Cards */

.book-card {
    margin-bottom: 5rem;
    width: 18rem;
    height: 40rem;
}

.book-image-card {
    width: 18rem;
    height: 26rem;
}

.btn-book-card {
    float: right;
}

.navbar-content-options {
    background-color: #64bd96;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* -------------------------------- Media Queries */

/* Icons in main navbar to align center on larger screens*/

@media (min-width: 900px) {
.icon {
    text-align: center;
}
