/* Overall app styling */

html {
    height: 100%;
}

body {
    color: #302f2f;
    font-family: 'Lora', serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
color: #302f2f;
}

hr {
    background-color: #A8DADC;
}

.cyan-background {
    background-color: #A8DADC;
}


.icon-white{
    color: #ffffff !important;
}

.font-italic {
    font-style: italic;
}

.update-link,
.remove-item-book,
.remove-item-plan {
    cursor: pointer;
}

.header-container {
        margin-top: 11rem;
    }

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.border-blue {
    border: solid 0.20rem;
    border-color: #457B9D;
}

.form-control {
    height: auto;
}


.form-control {
    border: solid 0.20rem;
    border-color: #457B9D;
}


.float-right {
    float: right;
}

.border-solid-blue {
    border: solid !important;
    border-color: #235789 !important;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-botton-5 {
    margin-bottom: 5rem;

}

.dropdown-menu {
    background-color: #F1FAEE;
}


/* Buttons */

.btn {
    background-color: #235789;
    border-color: #235789;
    color: #fff;
}

.btn:hover {
    background-color:#ED6E78;
    border-color: #ED6E78;
    color: #fff;
}

.btn-small {
    padding: 0.10rem;
}

.btn-light {
    background-color: #F1FAEE;
    color: #1D3557;
    border: solid;
}

.btn-light:hover {
    background-color: #ED6E78;
    color: #1D3557;
    border: solid;
}

/* Back to Top Button - from W3 School*/

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ED6E78;
  color:#ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backToTopBtn:hover {
  background-color: #A8DADC;
}

/* Navigation */


.navigation-bar {
    padding: 0;
}

.navbar-content-options {
    background-color: #A8DADC;
    font-weight: 700;
    font-size: 1.2rem;
}

.navbar{
    background-color: #A8DADC;
}

.navbar-collapse {
    background-color: #A8DADC;
    padding: 0;
    margin: 0;

}

.plans-container {
    text-align: center;
    justify-content: center;
    display: flex;
}

/* Home */


.home-header-container {
    background: url('/media/kimberly-farmer-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    margin-top: 128px;
    height: 100vh;
}

.home-header-row {
    justify-content: flex-end;
    padding: inherit;
}


.home-page-plans-card {
    margin-top: 13rem;
    position: relative;
    float: right;
    background-color: #A8DADC;
}



/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting - from CodeInstitute - 
https://github.com/ckz8780/boutique_ado_v1/blob/149abda4318106704ac8d3118b8e5a63ef070619/static/css/base.css */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    
    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Media Queries */

/* mobile view */
@media (max-width: 991px) {
    .header-container {
        margin-top: 7rem;
    }

    .home-header-container {
        margin-top: 4.5rem;
    }

    .navbar {
    padding: .25rem .1rem .3rem .15rem;
    height: 4.5rem;
    }

   

}

@media (max-width: 410px) {
 .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .nav-link p {
        font-size: 1rem;
    }

    .home-page-plans-card {
    margin-top: 9rem;

}
    .btn.mt-5.btn-light,
    .btn.text-uppercase.mt-5 {
        padding: 0.4rem;
        font-size: 1rem;
    }
}

@media (max-width: 319px) {
    .btn.mt-5.btn-light,
    .btn.text-uppercase.mt-5 {
        padding: 0.25rem;
        font-size: 0.9rem;
    }

}
