/* All Books Page Styling */

/*  Book Cards */

.book-card {
    margin-bottom: 5rem;
    width: 18rem;
    height: 41rem;
    border: solid 0.25rem;
    border-color: #457B9D;
}

.book-image-card {
    height: 26rem;
}

.btn-book-card {
    float: right;
}

.truncate-text {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
    max-height: 3rem;
}

.price-paragraph {
    margin-top: revert;
}

  

/* Book Details Page Styling */

.book-details-container,
.book-details-container {
    padding: 2rem;
}
.image-container-detail-page {
    text-align: center;

}
.reviews-card {
    padding: 1rem;
    margin-bottom: 1rem;
    border-color: #1D3557;
    border-width: medium;
    height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-title-reviews {
    text-align: center;
} 


.filters-form {
    margin-bottom: 4rem;
}

