/* All Books Page Styling */

/*  Book Cards */

.book-card {
    margin-bottom: 5rem;
    width: 18rem;
    height: 40rem;
}

.book-image-card {
    width: 18rem;
    height: 26rem;
}

.btn-book-card {
    float: right;
}


  

/* Book Details Page Styling */

.book-details-container,
.book-details-container {
    padding: 2rem;
}
.image-container-detail-page {
    text-align: center;

}
.reviews-card {
    padding: 1rem;
    margin-bottom: 1rem;
    border-color: #1D3557;
    border-width: medium;
    height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-title-reviews {
    text-align: center;
} 

