<div class="collapse navbar-collapse" id="main-nav">
	<ul class="navbar-nav w-auto mx-auto">
		<li class="nav-item">
			<a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'plans' %}" id="reading-plans-link">
				Reading Plans
			</a>
		</li>
		<li class="nav-item">
			<a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'books' %}" id="shop-books-link" >
				Shop Books
			</a>
		</li>
		<li class="nav-item">
			<a class="logo-font font-weight-bold nav-link mr-5" href="#" id="community-link">
				Community
			</a>
		</li>
	</ul>
</div>