<li class="list-inline-item">
  <a
    class="nav-link d-block d-lg-none"
    href="{% url 'home' %}"
    id="mobile-home-link"
  >
    The Book Club
  </a>
</li>
<li class="list-inline-item">
  <a
    class="{% if price_total %}font-weight-bold{% else %}{% endif %} nav-link d-block d-lg-none"
    href="{% url 'view_bag' %}"
  >
    <div class="text-center">
      <div><i class="fas fa-shopping-basket fa-lg"></i></div>
      <p class="my-0">
        {% if price_total %} €{{ price_total|floatformat:2 }} {% else %} €0.00 {% endif %}
      </p>
    </div>
  </a>
</li>
