.wrap {
    overflow-wrap: break-word;
}

.form-group label {
    margin-bottom: 0rem !important;
    font-size: 0.8rem;
}

.StripeElement,
.stripe-style-input {
  height: 40px;
  padding: 10px 12px;

  color: #32325d;
  background-color: white;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input:focus,
.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: black;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #A8DADC;
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Action Buttons on Mobile */

@media (max-width: 410px) {
    .mobile-button {
        padding: 0.3rem;
        font-size: 0.9rem;
    }
}
@media (max-width: 319px) {
    .mobile-button {
        padding: 0.2rem;
        font-size: 0.7rem;
    }

}
