{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid header-container">
<h2> Your Custom Plan </h2>
  <p>Tell us what you enjoy to read and we'll make a plan for you. <br> You will receive 1 book per month for the duration of the plan. <br> E.g. If you pick a 6 months plan, you receive 6 books.</p>

<form action="{% url 'custom_plans' %}" method="POST">
    {% csrf_token %}
    {{ form | crispy }}

    <input type="submit" value="Submit">
</form>

 
{% endblock %}
