{% extends "base.html" %} {% load static %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'plans/css/plans.css' %}" />
{% endblock %} 

 {% block content %}

<!-- Renders Custom Plan  -->
<div class="container-fluid header-container align-center">
   <button onclick="topFunction()" id="backToTopBtn" title="Back to top">Top</button>
<div class="row">
   <div class="col-12">
      <h2>Your Plan: {{custom_plan.name}}</h2>
   </div>
   <div class="col-12">
      <p> Happy Reading!</p>
   </div>
   
</div>
<div class="row">
   <div class="col">
      <p> Price: €{{custom_plan.price}}</p>
   </div>
</div>
{% if savings > 0 %}
<div class="row">
   <div class="col">
      <p><strong>You're saving €{{savings}} </strong>by buying this plan instead of getting the books separately.</p>
   </div>
</div>
{% endif %}
<div class="row">

   {%for book in books_from_custom_plan %}
   <div class="col">
         <div class="card book-card">
            <a href="{% url 'book_detail' book.id %}">
            {% if book.image %}
            <img
               src="{{ book.image.url }}"
               class="card-img-top book-image-card"
               alt="{{ book.title }}"
               />
            {% else %}
            <img
               src="{{ MEDIA_URL }}jaredd-craig-unsplash.jpg"
               class="card-img-top"
               alt="{{ book.name }}"
               />
               {% endif %}
               <div class="card-body">
                  <h5 class="card-title"><strong>{{ book.title }}</strong></h5>
                  <p class="card-text truncate-text" >
                     {{ book.author }}, {{ book.publication_year }}
                  </p>
                  {% if book.genre %}
                  <p class="card-text small mt-1 mb-0">
            <a class="text-muted" href="{% url 'books' %}?genre={{ book.genre.name }}">
            <i class="fas fa-tag mr-1"></i>{{ book.genre.name }}
            </a>
            </p>
            {% endif %}
            {% if book.language %}
            <p class="card-text small mt-1 mb-0">
            <a class="text-muted" href="{% url 'books' %}?language={{ book.language.name }}">
            <i class="fas fa-language"></i>{{ book.language.name }} {{ average_rating_per_book }}
            </a>
            </p>
            {% endif %}
            <p class="card-text price-paragraph">Price: €{{ book.price }}</p>
            </div>
          </a>
         </div>
      </div>

      {% endfor %}

</div>




<!-- Action Buttons -->
<div class="row margin-botton-5 row-action-buttons">
<div class="col">
   <a class="btn text-uppercase" href="{% url 'view_bag' %}">Shopping Bag</a>


  <a class="btn text-uppercase" href="{% url 'books' %}">Browse Books</a>


   <a class="btn text-uppercase" href="{% url 'custom_plans' %}">New Plan</a>
</div>
<!-- <div class="col "></div> -->

</div>
      


{% endblock %}