{% extends "base.html" %} {% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'plans/css/plans.css' %}" />
{% endblock %} 

 {% block content %}
<!-- Renders Custom Plan  -->
<div class="container-fluid header-container align-center">
   <button onclick="topFunction()" id="backToTopBtn" title="Back to top">Top</button>
<div class="row">
   <div class="col-12">
      <h2>Your Plan: {{custom_plan.name}}</h2>
   </div>
   <div class="col-12">
      <p> Check out the books we've chosen for you.</p>
   </div>
   
</div>
<div class="row">
   <div class="col">
      <p> Price: €{{custom_plan.price}}</p>
   </div>
</div>
{% if savings > 0 %}
<div class="row">
   <div class="col">
      <p><strong>You're saving €{{savings}} </strong>by buying this plan instead of getting the books separately.</p>
   </div>
</div>
{% endif %}
<div class="row">

   {%for book in books_from_custom_plan %}
   <div class="col">
         <div class="card book-card">
            <a href="{% url 'book_detail' book.id %}">
            {% if book.image %}
            <img
               src="{{ book.image.url }}"
               class="card-img-top book-image-card"
               alt="{{ book.title }}"
               />
            {% else %}
            <img
               src="{{ MEDIA_URL }}jaredd-craig-unsplash.jpg"
               class="card-img-top"
               alt="{{ book.name }}"
               />
               {% endif %}
               <div class="card-body">
                  <h5 class="card-title"><strong>{{ book.title }}</strong></h5>
                  <p class="card-text truncate-text" >
                     {{ book.author }}, {{ book.publication_year }}
                  </p>
                  {% if book.genre %}
                  <p class="card-text small mt-1 mb-0">
            <a class="text-muted" href="{% url 'books' %}?genre={{ book.genre.name }}">
            <i class="fas fa-tag mr-1"></i>{{ book.genre.name }}
            </a>
            </p>
            {% endif %}
            {% if book.language %}
            <p class="card-text small mt-1 mb-0">
            <a class="text-muted" href="{% url 'books' %}?language={{ book.language.name }}">
            <i class="fas fa-language"></i>{{ book.language.name }} {{ average_rating_per_book }}
            </a>
            </p>
            {% endif %}
            <p class="card-text price-paragraph">Price: €{{ book.price }}</p>
            </div>
          </a>
         </div>
      </div>

      {% endfor %}

</div>
<!-- Action Buttons -->
<div class="row">
   <div class="col">
      <p>Not happy with this selection? Re-do the survey for a new set of books.<a class="category-badge text-decoration-none" href="{% url 'custom_plans' %}">
         <span class="p-2 mt-2 border">Re-do Survey</span>
         </a>
      </p>
   </div>
</div>
<div class="row">
   <div class="col">
      <p>Want to buy individual books? <span class="small"><a class="p-2 mt-2 border" href="{% url 'books' %}">Books Home</a> </span></p>
   </div>
</div>
<div class="row margin-botton-5">
   <div class="col">
      <form class="form" action="{% url 'add_plan_to_bag' custom_plan.id %}" method="POST">
         {% csrf_token %}
         <div class="col-12">                                    
            <input type="submit" class="btn rounded-0 text-uppercase mt-5" value="Add to Bag">
         </div>
      </form>
   </div>
</div>
{% endblock %}