{% extends "base.html" %} {% load static %}

{% block content %}
<div class="header-container">
	<h2> Reading Plans</h2>
	<p>Out of book ideas? We have a solution for you.</p>
	<p>Tell us what you like and we'll design a reading plan specifically for you.</p>
	<div class='row'>
		<div class='col'>

		</div>

	</div>

	<div class='row'>
		<div class='col'>
        	<a class=" btn category-badge text-decoration-none" href="{% url 'custom_plans' %}">Custom Plan
	</a>
		</div>
	</div>


	<div class='row'>
		<div class='col'> 
        	<p>Looking for a specific Books? <span class="small"><a href="{% url 'books' %}">Books Home</a> </span></p>

		</div>
	</div>




</div>
{% endblock %}