{% extends "base.html" %} {% load static %} 

{% block content %}
<div class="header-container">
<a class="category-badge text-decoration-none" href="#">
    <span class="p-2 mt-2 badge badge-white rounded-0 border">Surprise Plan</span>
</a>

<a class="category-badge text-decoration-none" href="{% url 'custom_plans' %}
">
    <span class="p-2 mt-2 badge badge-white rounded-0 border">Custom Plan</span>
</a>

<p>Looking for a specific Books? <span class="small"><a href="{% url 'books' %}">Books Home</a> </span>
</p>

</div>
{% endblock %}
