{% extends "base.html" %} {% load static %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'plans/css/plans.css' %}" />
{% endblock %} 

{% block content %}
<div class="container-fluid container-plans-page">
  <div class="row">
    <div class="col transbox align-center">
      <h2 class="align-center">Reading Plans</h2>
      <p>
        Out of book ideas? We have a solution for you.
      </p>
      <p>
        Tell us what you like and we'll design a reading plan specifically for
        you.
      </p>
      <p>
        What's even better? Save money by buying the plan
        instead of each book individually.
      </p>
      <a class="btn" href="{% url 'custom_plans' %}"
        >Create Your Plan
      </a>

      <p class="py-2">
        <small>
          Looking for a specific Books?
          <a class="p-2 mt-2 border" href="{% url 'books' %}"
            >Books Home</a
          ></small
        >
      </p>
    </div>
  </div>
</div>

{% endblock %}
