{% extends "base.html" %} {% load static %} {% block content %}
<div class="header-container">
  <a class="category-badge text-decoration-none" href="#">
    <span class="p-2 mt-2 badge badge-white rounded-0 border"
      >Surprise Plan</span
    >
  </a>

  <a
    class="category-badge text-decoration-none"
    href="{% url 'custom_plans' %}
"
  >
    <span class="p-2 mt-2 badge badge-white rounded-0 border">Custom Plan</span>
  </a>

  <p>
    Looking for a specific Books?
    <span class="small"><a href="{% url 'books' %}">Books Home</a> </span>
  </p>
</div>

<div class="container-fluid plans-container">
  <div class="row">
    <div class="col">
      <h2>Surprise Plan</h2>
      <h4>Tired of scrolling through book options and deciding what to read first? <br> 
      We have the solution for you!</h4>
      <p>
        Every month we send a surprise book to your Kindle. Discover a new world, genre, author every month, hassle and risk free. <br> 
        You don't like the book or you've read it already? We'll exchange it for you.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid plans-container">
  <div class="row">
      <div
        class="card text-white bg-secondary mb-3 col-xs-12 col-md-4"
        style="max-width: 18rem;"
      >
        <div class="card-body">
          <h5 class="card-title">3 months</h5>
        </div>
      </div>
   
      <div
        class="card text-white bg-secondary mb-3 col-xs-12 col-md-4"
        style="max-width: 18rem;"
      >
        <div class="card-body">
          <h5 class="card-title">6 months</h5>
        </div>
      </div>
    
      <div
        class="card text-white bg-secondary mb-3 col-xs-12 col-md-4"
        style="max-width: 18rem;"      >
        <div class="card-body">
          <h5 class="card-title">12 months</h5>
        </div>
      </div>
  </div>
</div>
{% endblock %}
