{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid books-container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="image-container-detail-page">
        {% if book.image %}
        <a href="{{ book.image.url }}" target="_blank">
          <img
            src="{{ book.image.url }}"
            class="card-img-top book-image-card"
            alt="{{ book.name }}"
          />
        </a>
        {% else %}
        <a href="">
          <img
            src="{{ MEDIA_URL }}jaredd-craig-unsplash.jpg"
            class="card-img-top"
            alt="{{ book.name }}"
          />
        </a>
        {% endif %}
      </div>
      </div>

      <div class="col-12 col-md-6">
        <h5>{{ book.title }}</h5>
        <p>{{ book.author }}</p>
        <p>Published in: {{ book.publication_year }}</p>
        <p>€{{ book.price }}</p>
        <p>Product Rating: X</p>

      <form class="form" action="{% url 'add_to_bag' book.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ book.id }}" id="decrement-qty_{{ book.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ book.id }}"
                                            id="id_qty_{{ book.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn"
                                                data-item_id="{{ book.id }}" id="increment-qty_{{ book.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'books' %}" class="btn rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">Language: {{ book.language }}</div>
    <div class="col-12 col-sm-6">Genre: {{ book.genre }}</div>
    <div class="col-12">
      <p>{{ book.book_description }}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}

{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

{% endblock %}
