{% extends "base.html" %} {% load static %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light header-container fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#filterSupportedContent" aria-controls="filterSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="row">
    <div class="col"><h5>Filters</h5></div>
    <div class="col"><span class="navbar-toggler-icon"></span></div> 
    </div>
    
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="filterSupportedContent">
    <ul class="navbar-nav justify-content-center">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">By Rating</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?sort=price&direction=desc">By Price (high to low)</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?sort=price&direction=asc">By Price (low to high)</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?sort=author&direction=asc">Author's Name (A-Z)</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?sort=author&direction=desc">Author's Name (Z-A)</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?sort=title&direction=asc">Book's Name (A-Z)</a>
          <a class="dropdown-item" href="{% url 'books' %}?sort=title&direction=desc">Book's Name (Z-A)</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}">All Books</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'books' %}?genre=Non-Fiction">Non-Fiction</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?genre=Fantasy">Fantasy</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?genre=Crime">Crime</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?genre=Novel">Novel</a>
                    <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?genre=Classics">Classics</a>
       <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'books' %}?genre=Non-Fiction,Fantasy,Crime,Novel,Classics">All Genres</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'books' %}?language=English">English</a>            
          <a class="dropdown-item" href="{% url 'books' %}?language=French">French</a>
          <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'books' %}?language=English,French">All Languages</a>

        </div>
      </li>
  </div>
</nav>

<div class="container-fluid books-container">
  <div class="row">
    {% for book in books %}
    <div class="col">
      <div class="card book-card">
        {% if book.image %}
        <a href="{% url 'book_detail' book.id %}">
        <img
          src="{{ book.image.url }}"
          class="card-img-top book-image-card"
          alt="{{ book.name }}"
        />
        <a>
        {% else %}
                <a href="{% url 'book_detail' book.id %}">

        <img
          src="{{ MEDIA_URL }}jaredd-craig-unsplash.jpg"
          class="card-img-top"
          alt="{{ book.name }}"
        />
<a>
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">
            {{ book.author }}, {{ book.publication_year }}
          </p>
          <p class="card-text">€{{ book.price }}</p>
          <a href="{% url 'book_detail' book.id %}" class="btn btn-primary btn-book-card">See Book</a>
        </div>
      </div>
    </div>
            {% endfor %}

  </div>

</div>
{% endblock %}
